MEMS.Client.Sale/Service References/SaleService/SaleService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MEMS.DB.ExtModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MEMS.DB.ExtModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55160/SaleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MEMS.DB.Models" />
  <xs:complexType name="ArrayOfSaleOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SaleOrder" nillable="true" type="tns:SaleOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSaleOrder" nillable="true" type="tns:ArrayOfSaleOrder" />
  <xs:complexType name="SaleOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="customername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qtno" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MEMS.DB.Models" minOccurs="0" name="so" nillable="true" type="q1:T_saleorder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleOrder" nillable="true" type="tns:SaleOrder" />
</xs:schema>