MEMS.Client.Sale/Service References/SaleService/SaleService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/mems/SaleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MEMS.DB.ExtModels" />
  <xs:import schemaLocation="http://localhost/mems/SaleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MEMS.DB.Models" />
  <xs:element name="getAllSaleOrderList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSaleOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MEMS.DB.ExtModels" minOccurs="0" name="getAllSaleOrderListResult" nillable="true" type="q1:ArrayOfSaleOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleOrderbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saleorderid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleOrderbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MEMS.DB.Models" minOccurs="0" name="getSaleOrderbyIdResult" nillable="true" type="q2:T_saleorder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtstart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtend" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MEMS.DB.ExtModels" minOccurs="0" name="getSaleOrderListResult" nillable="true" type="q3:ArrayOfSaleOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewSaleOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MEMS.DB.Models" minOccurs="0" name="so" nillable="true" type="q4:T_saleorder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewSaleOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewSaleOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSaleOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MEMS.DB.Models" minOccurs="0" name="so" nillable="true" type="q5:T_saleorder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSaleOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSaleOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSaleOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MEMS.DB.Models" minOccurs="0" name="so" nillable="true" type="q6:T_saleorder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSaleOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSaleOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleDetailbysoid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleDetailbysoidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MEMS.DB.Models" minOccurs="0" name="getSaleDetailbysoidResult" nillable="true" type="q7:ArrayOfT_saledetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleProductbysoid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleProductbysoidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MEMS.DB.ExtModels" minOccurs="0" name="getSaleProductbysoidResult" nillable="true" type="q8:ArrayOfSaleProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewSoSd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MEMS.DB.Models" minOccurs="0" name="so" nillable="true" type="q9:T_saleorder" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MEMS.DB.Models" minOccurs="0" name="sdlist" nillable="true" type="q10:ArrayOfT_saledetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewSoSdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewSoSdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>