MEMS.Client.Sale/Service References/SaleService/SaleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SaleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55160/SaleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55160/SaleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55160/SaleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MEMS.DB.ExtModels" />
      <xsd:import schemaLocation="http://localhost:55160/SaleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MEMS.DB.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISaleService_getAllSaleOrderList_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllSaleOrderList" />
  </wsdl:message>
  <wsdl:message name="ISaleService_getAllSaleOrderList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllSaleOrderListResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleService_getSaleOrderbyId_InputMessage">
    <wsdl:part name="parameters" element="tns:getSaleOrderbyId" />
  </wsdl:message>
  <wsdl:message name="ISaleService_getSaleOrderbyId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSaleOrderbyIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleService_getSaleOrderList_InputMessage">
    <wsdl:part name="parameters" element="tns:getSaleOrderList" />
  </wsdl:message>
  <wsdl:message name="ISaleService_getSaleOrderList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSaleOrderListResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleService_AddNewSaleOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewSaleOrder" />
  </wsdl:message>
  <wsdl:message name="ISaleService_AddNewSaleOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewSaleOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleService_UpdateSaleOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSaleOrder" />
  </wsdl:message>
  <wsdl:message name="ISaleService_UpdateSaleOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSaleOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleService_DeleteSaleOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSaleOrder" />
  </wsdl:message>
  <wsdl:message name="ISaleService_DeleteSaleOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSaleOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleService_getSaleDetailbysoid_InputMessage">
    <wsdl:part name="parameters" element="tns:getSaleDetailbysoid" />
  </wsdl:message>
  <wsdl:message name="ISaleService_getSaleDetailbysoid_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSaleDetailbysoidResponse" />
  </wsdl:message>
  <wsdl:portType name="ISaleService">
    <wsdl:operation name="getAllSaleOrderList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleService/getAllSaleOrderList" message="tns:ISaleService_getAllSaleOrderList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleService/getAllSaleOrderListResponse" message="tns:ISaleService_getAllSaleOrderList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSaleOrderbyId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleService/getSaleOrderbyId" message="tns:ISaleService_getSaleOrderbyId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleService/getSaleOrderbyIdResponse" message="tns:ISaleService_getSaleOrderbyId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSaleOrderList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleService/getSaleOrderList" message="tns:ISaleService_getSaleOrderList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleService/getSaleOrderListResponse" message="tns:ISaleService_getSaleOrderList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewSaleOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleService/AddNewSaleOrder" message="tns:ISaleService_AddNewSaleOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleService/AddNewSaleOrderResponse" message="tns:ISaleService_AddNewSaleOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSaleOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleService/UpdateSaleOrder" message="tns:ISaleService_UpdateSaleOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleService/UpdateSaleOrderResponse" message="tns:ISaleService_UpdateSaleOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSaleOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleService/DeleteSaleOrder" message="tns:ISaleService_DeleteSaleOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleService/DeleteSaleOrderResponse" message="tns:ISaleService_DeleteSaleOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSaleDetailbysoid">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleService/getSaleDetailbysoid" message="tns:ISaleService_getSaleDetailbysoid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleService/getSaleDetailbysoidResponse" message="tns:ISaleService_getSaleDetailbysoid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISaleService" type="tns:ISaleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllSaleOrderList">
      <soap:operation soapAction="http://tempuri.org/ISaleService/getAllSaleOrderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSaleOrderbyId">
      <soap:operation soapAction="http://tempuri.org/ISaleService/getSaleOrderbyId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSaleOrderList">
      <soap:operation soapAction="http://tempuri.org/ISaleService/getSaleOrderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewSaleOrder">
      <soap:operation soapAction="http://tempuri.org/ISaleService/AddNewSaleOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSaleOrder">
      <soap:operation soapAction="http://tempuri.org/ISaleService/UpdateSaleOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSaleOrder">
      <soap:operation soapAction="http://tempuri.org/ISaleService/DeleteSaleOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSaleDetailbysoid">
      <soap:operation soapAction="http://tempuri.org/ISaleService/getSaleDetailbysoid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaleService">
    <wsdl:port name="BasicHttpBinding_ISaleService" binding="tns:BasicHttpBinding_ISaleService">
      <soap:address location="http://localhost:55160/SaleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>