MEMS.Client.Main/Service References/SaleService/SaleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55160/SaleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" />
  <xs:element name="getAllSaleOrderList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSaleOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getAllSaleOrderListResult" nillable="true" type="q1:ArrayOfT_saleorder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleOrderbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saleorderid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleOrderbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getSaleOrderbyIdResult" nillable="true" type="q2:T_saleorder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>