MEMS.Client.Main/Service References/SaleService/SaleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSaleOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SaleOrder" nillable="true" type="tns:SaleOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSaleOrder" nillable="true" type="tns:ArrayOfSaleOrder" />
  <xs:complexType name="SaleOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="qtno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="so" nillable="true" type="tns:T_saleorder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleOrder" nillable="true" type="tns:SaleOrder" />
  <xs:complexType name="T_saleorder">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="orderstate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="quotationid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="receiveamount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="receiveperiod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="receiveperiodtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiveratio" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="receivestate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="receivetype" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="saleattachments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saledate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="saleno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saletotalamount" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_saleorder" nillable="true" type="tns:T_saleorder" />
</xs:schema>