MEMS.Client.CRM/Service References/CRMService/CRMService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MEMS.DB.ExtModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MEMS.DB.ExtModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55160/CRMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MEMS.DB.Models" />
  <xs:complexType name="ArrayOfProductList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductList" nillable="true" type="tns:ProductList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductList" nillable="true" type="tns:ArrayOfProductList" />
  <xs:complexType name="ProductList">
    <xs:sequence>
      <xs:element minOccurs="0" name="customerid" type="xs:int" />
      <xs:element minOccurs="0" name="customername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="procode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="proname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductList" nillable="true" type="tns:ProductList" />
  <xs:complexType name="ArrayOfQtProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QtProduct" nillable="true" type="tns:QtProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQtProduct" nillable="true" type="tns:ArrayOfQtProduct" />
  <xs:complexType name="QtProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productSpec" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MEMS.DB.Models" minOccurs="0" name="qp" nillable="true" type="q1:T_quotationprice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QtProduct" nillable="true" type="tns:QtProduct" />
</xs:schema>