MEMS.Client.CRM/Service References/CRMService/CRMService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55160/CRMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" />
  <xs:import schemaLocation="http://localhost:55160/CRMService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getCustomerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getCustomerListResult" nillable="true" type="q1:ArrayOfT_Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerListbyP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="csname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerListbyPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getCustomerListbyPResult" nillable="true" type="q2:ArrayOfT_Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerbyid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerbyidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getCustomerbyidResult" nillable="true" type="q3:T_Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="newcustomer" nillable="true" type="q4:T_Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="customer" nillable="true" type="q5:T_Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="customer" nillable="true" type="q6:T_Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCpytypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCpytypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getCpytypeListResult" nillable="true" type="q7:ArrayOfT_Base_companytype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCtmtypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCtmtypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getCtmtypeListResult" nillable="true" type="q8:ArrayOfT_Base_customertype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getProfListResult" nillable="true" type="q9:ArrayOfT_Base_profession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerContactList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerContactListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getCustomerContactListResult" nillable="true" type="q10:ArrayOfT_Customer_contacts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerAddressList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerAddressListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getCustomerAddressListResult" nillable="true" type="q11:ArrayOfT_Customer_address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCustomerAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="address" nillable="true" type="q12:T_Customer_address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCustomerAddressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCustomerContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="contacts" nillable="true" type="q13:T_Customer_contacts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCustomerContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="address" nillable="true" type="q14:T_Customer_address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerAddressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="contacts" nillable="true" type="q15:T_Customer_contacts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdCustomerAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="address" nillable="true" type="q16:T_Customer_address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdCustomerAddressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdCustomerContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="contacts" nillable="true" type="q17:T_Customer_contacts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdCustomerContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSupplier">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getAllSupplierResult" nillable="true" type="q18:ArrayOfT_Suppliers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSupplierList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="spno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="spname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSupplierListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getSupplierListResult" nillable="true" type="q19:ArrayOfT_Suppliers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSupplierbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSupplierbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getSupplierbyIdResult" nillable="true" type="q20:T_Suppliers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="newsupplier" nillable="true" type="q21:T_Suppliers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="supplier" nillable="true" type="q22:T_Suppliers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="supplier" nillable="true" type="q23:T_Suppliers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSuptypeLst">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSuptypeLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getSuptypeLstResult" nillable="true" type="q24:ArrayOfT_Base_suppliertype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSupplierContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSupplierContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getSupplierContactsResult" nillable="true" type="q25:ArrayOfT_Suppliers_contacts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="contact" nillable="true" type="q26:T_Suppliers_contacts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierContactsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSupplierContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="contact" nillable="true" type="q27:T_Suppliers_contacts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSupplierContactsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSupplierContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="contact" nillable="true" type="q28:T_Suppliers_contacts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSupplierContactsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getProductListResult" nillable="true" type="q29:ArrayOfProductList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductListbyCid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductListbyCidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getProductListbyCidResult" nillable="true" type="q30:ArrayOfT_Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductListbycdt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pname" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cid" nillable="true" type="q31:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductListbycdtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getProductListbycdtResult" nillable="true" type="q32:ArrayOfProductList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getProductTypeListResult" nillable="true" type="q33:ArrayOfT_ProductType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getProductbyIdResult" nillable="true" type="q34:T_Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="product" nillable="true" type="q35:T_Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="product" nillable="true" type="q36:T_Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductCraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductCraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getProductCraftResult" nillable="true" type="q37:ArrayOfT_Crafts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="craft" nillable="true" type="q38:T_Crafts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewCraftResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="craft" nillable="true" type="q39:T_Crafts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCraftResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="craft" nillable="true" type="q40:T_Crafts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCraftResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductDrawList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductDrawListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getProductDrawListResult" nillable="true" type="q41:ArrayOfT_ProductDraw" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductPriceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductPriceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getProductPriceListResult" nillable="true" type="q42:ArrayOfT_ProductbasicPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProductPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="price" nillable="true" type="q43:T_ProductbasicPrice" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="newcplist" nillable="true" type="q44:ArrayOfT_CraftsPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProductPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewProductPriceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCraftPriceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCraftPriceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getCraftPriceListResult" nillable="true" type="q45:ArrayOfT_CraftsPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPriceVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPriceVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPriceVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuotationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuotationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getQuotationListResult" nillable="true" type="q46:ArrayOfT_quotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuotationListbyP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerid" type="xs:int" />
        <xs:element minOccurs="0" name="aftdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="bfedate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuotationListbyPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getQuotationListbyPResult" nillable="true" type="q47:ArrayOfT_quotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuotationbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="qid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuotationbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getQuotationbyIdResult" nillable="true" type="q48:T_quotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewQuotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="newqt" nillable="true" type="q49:T_quotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewQuotationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewQuotationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewQtAndQtprice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="newqt" nillable="true" type="q50:T_quotation" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="qtpricelst" nillable="true" type="q51:ArrayOfQtProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewQtAndQtpriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewQtAndQtpriceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="qt" nillable="true" type="q52:T_quotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuotationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateQuotationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="qt" nillable="true" type="q53:T_quotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuotationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteQuotationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQtProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Qtid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQtProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="getQtProductResult" nillable="true" type="q54:ArrayOfQtProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewQtPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="qtprice" nillable="true" type="q55:QtProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewQtPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewQtPriceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewQtPriceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/MEMSservice.DAL" minOccurs="0" name="qtpricelst" nillable="true" type="q56:ArrayOfQtProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewQtPriceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewQtPriceListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>